{% load bootstrap %}

{% if signup_success %}
    <h3 class="text-center text-success">Inscription réussie !</h3>
{% else %}
    <p><span class="text-danger">*</span>&nbsp;Veuillez compléter toutes les sections suivantes pour vous inscrire.</p>
    {% if form %}
        <form id="signup" accept-charset="utf-8" action="{% url 'account_signup' %}" method="POST"
            {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} >
            {{ form|bootstrap }}
            {% csrf_token %}

        </form>
    {% endif %}
{% endif %}